<div class="container">
    <h1>New Post</h1>
    <form>
        {{!-- <div class="form-group">
            <label for="exampleInputNickname1">Nickname</label>
            <input class="form-control" name="nickname">
        </div> --}}
        <div class="form-group">
            <label for="heading">Heading</label>
            <input class="form-control" id="inputHeading" aria-describedby="heading text" name="heading">
        </div>
        <div class="form-group">
            <label for="Post">Message to Post</label>
            <textarea class="form-control" id="inputPost" name="Post" rows="4"></textarea>
            <span >To include a hyperlink, first use &quot;https://&quot;, like &quot;https://google.com&quot;. It will appear as a blue link in the post.</span>
            <input type="file" class="upload mt-3" id="fileInput" multiple><span>You can upload a file and the link for it will appear in posted message</span>
            {{!-- <button class='upload btn btn-outline-secondary mb-1' type='button' id="uploadFile">Upload File</button> --}}
        </div>
        {{!-- <div class="form-group">
            <label for="pic">User Type (admin or guest)</label>
            <input class="form-control" id="inputPic" name="pic">
        </div> --}}

        <button class="btn btn-primary mr-3" id="btnSubmit">Submit</button>
    </form>
    <hr>
    <div id="postsContainer">
        </div> 
    {{!-- {{#if message}}
    <p class="text-danger">
        {{message}}
    </p>
    {{/if}} --}}
</div>

<script src="/js/addPosts.js"></script>