<div class="container">
    <h1>New Post</h1>
    <form>
        {{!-- <div class="form-group">
            <label for="exampleInputNickname1">Nickname</label>
            <input class="form-control" name="nickname">
        </div> --}}
        <div class="form-group">
            <label for="heading">Heading</label>
            <input class="form-control" id="inputHeading" aria-describedby="heading text" name="heading">
        </div>
        <div class="form-group">
            <label for="Post">Message to Post  (Currently, line breaks and hyperlinks, see below, are the only formatting that will be retained in the post)</label>
            <textarea class="form-control" id="inputPost" name="Post" rows="4"></textarea>
        </div>
        {{!-- <div class="form-group">
            <label for="pic">User Type (admin or guest)</label>
            <input class="form-control" id="inputPic" name="pic">
        </div> --}}

        <button class="btn btn-primary mr-3" id="btnSubmit">Submit</button>
        <span>To include a hyperlink, first use &quot;https://&quot;, like &quot;https://google.com&quot;. It will appear as a blue link in the post.</span>
    </form>
    <hr>
    <div id="postsContainer">
        </div> 
    {{!-- {{#if message}}
    <p class="text-danger">
        {{message}}
    </p>
    {{/if}} --}}
</div>

<script src="/js/addPosts.js"></script>