<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-1 mb-2">
        <h1>{{msg}}</h1>
        <h2>Welcome To Our Home Page!</h2>
        <hr>
        <h2 class="text-center font-weight-bold" >June Newsletter</h2>
        <p>Welcome everyone to our own website!</p>
        <p>You will notice our website will give you access to the list of residents. We will personally give you guest user login
        credentials to be able to access that list since we don’t want to post the information publicly. We are counting on you
        to send your current phone number and email address (if you choose) to heatherblacksrq@yahoo.com so the current roster
        can be updated. You never know when you might have an emergency and need to contact your neighbor!</p>
        <p>So sad to say that one of our board members had to step down. Life just got too busy! At our next board meeting we will
        nominate someone to fill that spot. Irene Madden is interested in being on the board. If you are interested, let us
        know.</p>
        <p>We want to take a moment to again thank everyone who has been pitching in around the property at their own expense and
        time!!</p>
        <div class="text-center">
          <img src="/img/shrimpPasta.jpg" width="75%" class="rounded" alt="...">
        </div>
        <p>Thanks to Paul Salvatore who brought homemade dinner to the volunteers painting the front wall. Fresh shrimp pasta!!!</p>
        <hr><h2>EFFECTIVE JULY 1</h2>
        <P>Just to let everyone know what transpired at the last board meeting. We voted to self-manage starting July 1. There will be no change in how you pay your monthly dues. NO CHANGE for homeowners.
          Heather Black now has her CAM license so we are now legal! Yay for us!</P>
        <hr><H2>RECYCLING</H2>
        <p>Just as a reminder: Please do not place your recycling in bags. There should be no plastic bags in the recycling bins. Thanks!</p>
      </div>
    </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer/dist/bouncer.polyfills.min.js"></script>
<script src="/js/index.js"></script> --}}
