

<div id="home">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-7 order-sm-6 mb-2">
        <h1>{{msg}}</h1>
        <hr>
        <h2 class="text-center font-weight-bold" >July Newsletter</h2>
        <p>Here we are! It’s July!</p>
        <p>If you didn’t notice, baby it’s hot outside! Work is still going on with sanding down and painting the stairs. The work
        has slowed a bit because of the heat. But we are always looking for volunteers! Even if you are busy and don’t have
        time, at least you can come out and pat the volunteers on the back. They need your support!</p>
        <p>Please keep up with the news regarding hurricanes! There is a link on this webpage that will take you directly to the
        FPL webpage about hurricane preparedness and what you need to do BEFORE a hurricane arrives. In the event of an
        approaching storm, if you need help moving things off your lanai, let us know. We can help you. Or at the very least, we
        can find someone with muscles who can help you!!</p>
        <p>Do you have auto pay set up for your monthly maintenance fee? Have you thought about it but don’t know what to do? Let
        us know! It is so simple to set up. It makes everything so much easier for you when you have auto pay. You don’t have to
        worry about late fees and you save yourself a stamp!</p>
        <p>Please note that the leak protocol instructions have been added to the list of "Important Numbers and Links."</p>
        <p>We are still trying to find ways to save money. As you probably have noticed, we have one man who comes now to cut the
        grass on Fridays. He charges less than the previous lawn crew. But still, the monthly charge is $500. It was mentioned
        that we could buy our own small riding lawnmower and in a few months be paying nothing for lawn work. We have a
        weed-eater. But the question is, would there be enough volunteers to take their turn on the riding lawnmower? Could we
        take turns by building? Think about it seriously. Think about if you would be able to occasionally volunteer. It would
        be nice to have a definite list of those who think they could do it. We will be discussing this at the next meeting. If
        there are not enough people who are able to volunteer, then we will stick with the new lawn guy.</p>
        <p>Meeting coming soon!</p>
        <P>The front wall is completely finished! The lights were taken off, the glass cleaned and the black sconces painted. The
        next day after everything was finished, a young guy was seen throwing rocks at the lights and he shattered the vintage glass in both lights. Can you believe that?? Any ideas on how to replace the glass? We need ‘a design on a dime’ plan.</P>
        <div class="text-center mb-2">
          <img src="/img/brokenGlass.jpg" width="65%" class="rounded" alt="...">
        </div>
        <div class="text-center">
          <img src="/img/grinding.jpg" width="65%" class="rounded" alt="...">
        </div>
        <hr><H2>RECYCLING</H2>
        <p>Just as a reminder: Please do not place your recycling in bags. There should be no plastic bags in the recycling bins. Thank you!</p>
        <hr>
        <h3 class="text-center">Our Board of Directors</h3>
        {{!-- Board of directors listing --}}
        <div class="border rounded-pill pt-2" id="board-wrapper">
          <div class="row mb-2">
            <div class="col-md-4">
              <p class="text-center board-p">Heather Black</p>
              <p class="text-center">President</p>
            </div>
            <div class="col-md-4">
              <p class="text-center board-p">Cathleen Schexnaydre</p>
              <p class="text-center">Secretary/Treasurer</p>
            </div>
            <div class="col-md-4">
              <p class="text-center board-p">Jim Reardon</p>
              <p class="text-center">Director</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="text-center board-p">Paul Lavy</p>
              <p class="text-center">Director</p>
            </div>
            <div class="col-md-6">
              <p class="text-center board-p"></p>
              <p class="text-center"></p>
            </div>
          </div>

        
        
        </div>

        <hr>
        <p class="text-center" id="visits"></p>
      
      </div>

      <div class="col-sm-3 order-sm-12 mb-3">
          <div class="card mb-2" id="weather">
            <div class="card-body" id="weatherContainer">
              <h5 class="card-title text-center">Current Weather</h5>
              <hr>
            </div>
          </div>
          <p class="text-center">Siesta Key Today (only visible on desktop)</p>
          <video id="mediaplaybackdiv_videoplayer" muted="" preload="none"
            style="width: 100%; background-color: rgb(0, 0, 0); display: block; object-fit: fill;"
            src="blob:https://g1.ipcamlive.com/dae874c5-2da6-4b72-91e7-a99ad56eff1b"
            poster="https://s39.ipcamlive.com/streams/27ekoxc9zanad18ep/snapshot.jpg">Your browser does not capable to play this
            content.</video>
          <p class="text-center mt-3">Longboat Key Live</p>
          <a href="https://www.earthcam.com/usa/florida/longboatkey/?cam=longboatkey">
            <iframe class="iframe" width="100%" scrolling="no" frameborder="0" marginwidth="0"
              allowfullscreen="allowfullscreen" marginheight="0"
              style="opacity: 1; width: 100%; visibility: visible;"
              src="https://public.earthcam.net/tJ90CoLmq7TzrY396Yd88M_8UtUi8sJ7G1xSGC3lcMg!"></iframe>
          </a>
          <a href="https://www.youtube.com/watch?v=NLhxcyzXQxM" target="_blank">Siesta Key Live Cam</a>
          <br>
          <a href="https://www.youtube.com/watch?v=ThZRNYIZU8Q" target="_blank">Downtown Live Cam</a>

          <div class="card mt-2 mb-2">
            <div class="card-body" id="restaurants">
              <h5 class="card-title text-center">Nearby Restaurants</h5>
              <p class="h6 text-center">(Click name to order online)</p>
              <hr>
              <p class="h6"><a href="https://pizza.dominos.com/florida/sarasota/3692-webber-st/" target="_blank">Domino's</a> | <a href="tel:+1-941-923-3831">941-923-3831</a></p>
              <p class="h6"><a href="https://store8204.marcos.com/ordering/home" target="_blank">Marcos</a> | <a href="tel:+1-941-365-1155">941-365-1155</a></p>
              <p class="h6"><a href="https://eatrealpizza.revelup.com/weborder/?establishment=1" target="_blank">Solorzanos</a> | <a href="tel:+1-941-926-4276">941-926-4276</a></p>
              <p class="h6"><a href="http://www.francescospizzasarasota.com/" target="_blank">Francesco's</a> | <a href="tel:+1-941-929-7600">941-929-7600</a></p>
              <p class="h6">Little Saigon Bistro | <a href="tel:+1-941-312-4730">941-312-4730</a></p>
              <p class="h6">Bushido Sushi <a href="https://bushidosushisrq.com/#menu">menu</a> | <a href="tel:+1-941-217-5635">941-217-5635</a></p>
              <p class="h6"><a href="https://www.grubhub.com/restaurant/mi-sitio-colombian-restaurant-3650-webber-st-sarasota/2128834?utm_source=google&utm_medium=cpc&utm_campaign=North%2BPort%2C%2BFL%2B%7C%2BSarasota%2C%2BFL%2B%7C%2BRestaurants&utm_term=%2Bmi%20%2Bsitio%20%2Bcolombian%20%2Brestaurant&utm_content=acct_id-4423755827%3Acamp_id-2038028115%3Aadgroup_id-102646390273%3Akwd-855314963739%3Acreative_id-511378394624%3Aext_id-%3Amatchtype_id-b%3Anetwork-g%3Adevice-c%3Aloc_interest-1015192%3Aloc_physical-9052808&gclsrc=aw.ds&gclid=Cj0KCQjwraqHBhDsARIsAKuGZeHnKlUhcYALE73U8hAdien21KDPi7OAd_smefLMW6T9M-0fHAuVYcUaArvsEALw_wcB" target="_blank">Mi Sitio Colombian</a> | <a
                                href="tel:+1-941-921-3604">941-921-3604</a></p>


            </div>
          </div>
          
          <div class="card">
            <div class="card-body" id="links">
              <h5 class="card-title text-center">Important Numbers and Links</h5>
              <hr>
              <p class="h6"><a href="/leakprotocol" target="_blank">Leak Protocol</a></p>
              <p class="h6"><a href="/condodocs" target="_blank">Our Condo Docs</a></p>
              <p class="h6"><a href="https://www.wm.com/us/en/recycle-right" target="_blank">Waste Mgmt</a> | <a href="tel:+1-941-365-7651">941-365-7651</a></p>
              
              <p class="h6"><a href="https://www.wm.com/us/en/recycle-right/recycling-101" target="_blank">Recycling Guide</a></p>
              <p class="h6"><a href="https://www.fpl.com/storm/pdf/storm-guide.pdf" target="_blank">Hurricane Preparedness (FPL)</a></p>
              <p class="h6"><a href="https://visitbeaches.org/beach/2/report/4996">Siesta Key Beach Report</a></p>
              <p class="h6"><a href="https://myfwc.maps.arcgis.com/apps/View/index.html?appid=87162eec3eb846218cec711d16462a72">Red Tide Report</a></p>
              <p class="h6"><a href="https://www.gasbuddy.com/gaspricemap?lat=27.309794&lng=-82.496733&z=13">Nearby Gas Prices</a></p>
              <hr>
              <p class="h6"><a href="https://www.sarasotafarmersmarket.org/"  target="_blank">Farmers Market</a></p>
              <p class="h6"><a href="https://www.visitsarasota.com/events-festivals" target="_blank">Upcoming Events and Festivals</a></p>
            </div>
          </div>

    </div>

      <div class="col-sm-2 order-sm-1 mb-5">
        <div class="card" id="bogo-card">
          <div class="card-body" id="bogo-list">
            <h5 class="card-title text-center">Publix BOGO's</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">Today at Village Plaza</h6>
            <hr>
          </div>
        </div>
      </div>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer/dist/bouncer.polyfills.min.js"></script>
<script src="/js/index.js"></script>

