

<div id="home">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-7 order-sm-6 mb-2">
        <h1>{{msg}}</h1>
        <h2>Welcome To Our Home Page!</h2>
        <hr>
        <h2 class="text-center font-weight-bold" >June Newsletter</h2>
        <p>Welcome everyone to our own website!</p>
        <p>You will notice our website will give you access to the list of residents. We will personally give you guest user login
        credentials to be able to access that list since we don’t want to post the information publicly. We are counting on you
        to send your current phone number and email address (if you choose) to heatherblacksrq@yahoo.com so the current roster
        can be updated. You never know when you might have an emergency and need to contact your neighbor!</p>
        <p>So sad to say that one of our board members had to step down. Life just got too busy! At our next board meeting we will
        nominate someone to fill that spot. Irene Madden is interested in being on the board. If you are interested, let us
        know.</p>
        <p>We want to take a moment to again thank everyone who has been pitching in around the property at their own expense and
        time!!</p>
        <div class="text-center">
          <img src="/img/shrimpPasta.jpg" width="75%" class="rounded" alt="...">
        </div>
        <p>Thanks to Paul Salvatore who brought homemade dinner to the volunteers painting the front wall. Fresh shrimp pasta!!!</p>
        <hr><h2>EFFECTIVE JULY 1</h2>
        <P>Just to let everyone know what transpired at the last board meeting. We voted to self-manage starting July 1. There will be no change in how you pay your monthly dues. NO CHANGE for homeowners.
          One of the board members now has her CAM license so we are now legal! Yay for us!</P>
        <hr><H2>RECYCLING</H2>
        <p>Just as a reminder: Please do not place your recycling in bags. There should be no plastic bags in the recycling bins. Thanks!</p>
        <hr>
        <h3 class="text-center">Our Board of Directors</h3>
        {{!-- Board of directors listing --}}
        <div class="border rounded-pill pt-2" id="board-wrapper">
          <div class="row mb-2">
            <div class="col-md-4">
              <p class="text-center board-p">Heather Black</p>
              <p class="text-center">President</p>
            </div>
            <div class="col-md-4">
              <p class="text-center board-p">Cathleen Schexnaydre</p>
              <p class="text-center">Secretary/Treasurer</p>
            </div>
            <div class="col-md-4">
              <p class="text-center board-p">Jim Reardon</p>
              <p class="text-center">Director</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="text-center board-p">Paul Lavy</p>
              <p class="text-center">Director</p>
            </div>
            <div class="col-md-6">
              <p class="text-center board-p">Sharon Bobbit</p>
              <p class="text-center">Director</p>
            </div>
          </div>

        </div>
      
      
      </div>

      <div class="col-sm-3 order-sm-12 mb-3">
          <div class="card mb-2" id="weather">
            <div class="card-body" id="weatherContainer">
              <h5 class="card-title text-center">Current Weather</h5>
              <hr>
            </div>
          </div>
          <p class="text-center">Siesta Key Today</p>
          <video id="mediaplaybackdiv_videoplayer" muted="" preload="none"
            style="width: 100%; background-color: rgb(0, 0, 0); display: block; object-fit: fill;"
            src="blob:https://g1.ipcamlive.com/dae874c5-2da6-4b72-91e7-a99ad56eff1b"
            poster="https://s39.ipcamlive.com/streams/27ekoxc9zanad18ep/snapshot.jpg">Your browser does not capable to play this
            content.</video>
          <p class="text-center mt-2">Longboat Key Live</p>
          <a href="https://www.earthcam.com/usa/florida/longboatkey/?cam=longboatkey">
            <iframe class="iframe" width="100%" scrolling="no" frameborder="0" marginwidth="0"
              allowfullscreen="allowfullscreen" marginheight="0"
              style="opacity: 1; width: 100%; visibility: visible;"
              src="https://public.earthcam.net/tJ90CoLmq7TzrY396Yd88M_8UtUi8sJ7G1xSGC3lcMg!"></iframe>
          </a>
          <a href="https://www.youtube.com/watch?v=NLhxcyzXQxM" target="_blank">Siesta Key Live Cam</a>
          <br>
          <a href="https://www.youtube.com/watch?v=ThZRNYIZU8Q" target="_blank">Downtown Live Cam</a>

          <div class="card">
            <div class="card-body" id="restaurants">
              <h5 class="card-title text-center">Nearby Restaurants</h5>
              <p class="h6 text-center">(Click name to order online)</p>
              <hr>
              <p class="h6"><a href="https://pizza.dominos.com/florida/sarasota/3692-webber-st/" target="_blank">Domino's</a> | <a href="tel:+1-941-923-3831">941-923-3831</a></p>
              <p class="h6"><a href="https://store8204.marcos.com/ordering/home" target="_blank">Marcos</a> | <a href="tel:+1-941-365-1155">941-365-1155</a></p>
              <p class="h6"><a href="https://eatrealpizza.revelup.com/weborder/?establishment=1" target="_blank">Solorzanos</a> | <a href="tel:+1-941-926-4276">941-926-4276</a></p>
              <p class="h6"><a href="http://www.francescospizzasarasota.com/" target="_blank">Francesco's</a> | <a href="tel:+1-941-929-7600">941-929-7600</a></p>
              <p class="h6">Little Saigon Bistro | <a href="tel:+1-941-312-4730">941-312-4730</a></p>
              <p class="h6">Bushido Sushi | <a href="tel:+1-941-217-5635">941-217-5635</a></p>
            
            </div>
          </div>
          
          <div class="card">
            <div class="card-body" id="weatherContainer">
              <h5 class="card-title text-center">Important Numbers and Links</h5>
              <hr>
              <p class="h6"><a href="/condodocs" target="_blank">Our Condo Docs</a></p>
              <p class="h6"><a href="https://www.wm.com/us/en/recycle-right" target="_blank">Waste Mgmt</a> | <a href="tel:+1-941-365-7651">941-365-7651</a></p>
              
              <p class="h6"></p><a href="https://www.wm.com/us/en/recycle-right/recycling-101" target="_blank">Recycling Guide</a></p>
              <br>
              <p class="h6"></p><a href="https://www.fpl.com/storm/pdf/storm-guide.pdf" target="_blank">Hurricane Preparedness (FPL)</a></p>
              <hr>
              <p class="h6"></p><a href="https://www.sarasotafarmersmarket.org/"  target="_blank">Farmers Market</a></p>
              <p class="h6"><a href="https://www.visitsarasota.com/events-festivals" target="_blank">Upcoming Events and Festivals</a></p>
            </div>
          </div>

    </div>

      <div class="col-sm-2 order-sm-1 mb-5">
        <div class="card" id="bogo-card">
          <div class="card-body" id="bogo-list">
            <h5 class="card-title text-center">Publix BOGO's</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">Today at Village Plaza</h6>
            <hr>
          </div>
        </div>
      </div>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer/dist/bouncer.polyfills.min.js"></script>
<script src="/js/index.js"></script>

