

<div id="home">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-7 order-sm-6 mb-2">
        <h1>{{msg}}</h1>
        <hr>
        <h2 class="text-center font-weight-bold" >April Newsletter</h2>
          
          <p>The 2021 Annual financial Reports have been completed and may be viewed by clicking the links below.
          </p>
          <p class="h6"><a href="/budgetPerformanceSheet" target="_blank">2021 Budget Performance Report</a></p>
          <p class="h6"><a href="/yearEndBalanceSheet" target="_blank">2021 Year End Balance Report</a></p>

            {{!-- <p>Please welcome our newest member: Suzie Swan!
              </p>
                         
            
            <img src="/img/april.jpg" width="100%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                        alt="Suzie Swan">
           
            <p class="text-center">~ ~ ~</p><hr> --}}
       

        {{!-- Accordion here for old newsletters --}}
       
        <div class="accordion mt-3" id="oldNewsletterAccordion">

          {{!-- <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#monthNewsletter" aria-expanded="false" aria-controls="monthNewsletter">
            month Newsletter
          </button>
          <div id="monthNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
          </div> --}}

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#marchNewsletter" aria-expanded="false" aria-controls="marchNewsletter">
            March Newsletter
          </button>
          <div id="marchNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
            <h2 class="text-center font-weight-bold" >March Newsletter</h2>
          
          <p>Spring has sprung! <br> <i>"If we had no winter, the spring would not be so pleasant."</i>
              – Anne Bradstreet
          </p>

            <p>This month’s project has started. The project includes filling the cracks and repainting the pool deck. 
              Thank you to all of the volunteers who have helped! So many people have had a part and helped to save the association thousands of dollars!
              </p>
              <p>
              Look below at some of the pictures we have taken. 
              We will update the pictures as the project continues!</p>

            <img src="/img/march1.jpg" width="100%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                        alt="...">

            <div class="row">
              <div class="col-6">
              <img src="/img/march2.jpg" width="100%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                        alt="...">
              </div>
              <div class="col-6">
                <img src="/img/march3.jpg" width="100%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                          alt="...">
              </div>
            </div>
            
            
            <img src="/img/march4.jpg" width="100%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                        alt="...">
            <img src="/img/march5.jpg" width="100%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                        alt="...">
            <p class="text-center">~ ~ ~</p><hr>
          </div>

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#februaryNewsletter" aria-expanded="false" aria-controls="februaryNewsletter">
            February Newsletter
          </button>
          <div id="februaryNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
            <h2 class="text-center font-weight-bold" >February Newsletter (Things that cause drain backups)</h2>
          
          <h3>Please take a moment to read the following information that will help us to:</h3>
          <p>
          </p>

            <h2 class="text-center font-weight-bold">AVOID DRAIN CLOGS AND BACKUPS!!</h2>
            
            
            <p>We have been having issues with drain clogs lately. PLEASE REMEMBER THAT WE HAVE GALVANIZED PIPES. These old pipes
              require more care than modern PVC pipes to avoid clogs and stoppages. Even some things labeled "flushable" with modern
              pipes are NOT flushable here. Even if you have a garbage disposal, there are many substances that should be properly
              disposed of. To avoid clogs and problems with our system, take a moment to refresh yourself on these:</p>
              <h2 class="text-center font-weight-bold">COMMON CLOG CULPRITS<br>
              (Or, THINGS THAT SHOULD BE<br>THROWN IN THE GARBAGE)</h2>
            
            <h3 class="font-weight-bold">Grease and Other Fats</h3>
            <p>Like oils, leftover fats and grease from cooking can congeal, blocking drains and allowing other debris to cling onto
              the inside of pipes. This is one of the major causes of clogs. Put these in doubled shopping bags and place it in the
              garbage!</p>
            <h3 class="font-weight-bold">Cooking Oil and Olive Oil</h3>
            <p>Oils are a major contributor to clogs and mix with other debris to create sludge. This also includes items such as,
              salad dressing, sauces and mayonnaise. Put these in doubled shopping bags if necessary and place it in the garbage!</p>
            <h3 class="font-weight-bold">Butter and Margarine</h3>
            <p>Even when melted, butter and margarine can congeal and build up over time creating water-resistant barriers. Put it
              in the garbage!</p>

              <figure class="figure">
                <img src="/img/february.jpg" width="50%" class="figure-img img-fluid rounded"
                  alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">A pipe clogged with grease and oil.</figcaption>
              </figure>
            <h3 class="font-weight-bold">Feminine Hygiene Products</h3>
            <p>Feminine products don't dissolve in the water, which means that they always have the potential to get stuck. And, if
              they make it through your household pipes without incident, they can cause problems when they make it into the common pipes that you share with other units. As a general rule, all feminine hygiene products should be carefully
              wrapped and placed in the garbage.</p>
            <h3 class="font-weight-bold">"Flushable" Wipes and Baby Wipes</h3>
            <p>Even if they say they are flushable, remember that we have old, galvanized pipes. These can frequently be the cause
              of clogs and should always be thrown out in a wastebasket instead. Even "flushable" wipes don't disintegrate the way
              toilet paper does, which can eventually cause plumbing issues.</p>
            
            <h3 class="font-weight-bold">Coffee Grounds</h3>
            <p>Since coffee grounds are not completely water-soluble, when grounds mix with butter, oil or grease already coating
              the pipes, there’s an increased risk for clogs. Put it in the garbage!</p>
            <h3 class="font-weight-bold">Paper Towels and Tissues</h3>
            <p>You might think paper towels and tissues aren't all that different from toilet paper, but they're simply not designed
              to break down the way toilet paper does. In the event that you need to use paper towels or tissues in place of toilet
              paper, dispose of them in a waste basket.</p>
            <h3 class="font-weight-bold">Anything else that is not water-soluble, like DENTAL FLOSS, EGGSHELLS, Q-TIPS, AND COTTON PADS OR OTHER COTTON PRODUCTS
            </h3>
            
            <h3 class="font-weight-bold">Pasta</h3>
            <p>Since pasta and noodles absorb water, they will continue to expand with more exposure to water each time you run the
              faucet and the sticky flour can gum up the pipes or fill the disposal trap. Put it in the garbage!</p>
            <p> </p>
            <h3 class="font-weight-bold">Rice</h3>
            <p>Rice grains can easily slip down the drain, however, once rice is in your pipes, it will absorb more water and swell.
              Put it in the garbage!</p>
            
            <h3 class="font-weight-bold">Flour</h3>
            <p>Flour, when mixed with water, creates a glue-like substance which can create clogs in your pipes. Put it in the
              garbage!</p>

          </div>

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#januaryNewsletter" aria-expanded="false" aria-controls="januaryNewsletter">
            January Newsletter
          </button>
          <div id="januaryNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
                    <h2 class="text-center font-weight-bold">January Newsletter</h2>
                    
                    <h3>Welcome to 2022!!!<br>
                    
                      May it be better than the last two years!</h3>
                    <p>
                      What amazing weather has brought us into 2022! Hopefully you have figured out your personal cable needs or you have
                      taken the modern jump into streaming services (the free ones are great too!)
                    </p>
                    <p>
                      Remember, if you have auto pay set up, please change the amount to $300 beginning January 1, 2022.
                    
                    </p>
                    <hr>
                    <h3>~~Meet Your Neighbors~~</h3>
                    <p>
                      <b>Steve and Heather Williams</b> <br>Traveling ER Nurses
                    </p>
                    <p>
                      HB: Where are you from originally?
                    </p>
                    <p>
                      Steve and Heather: We are from the Toledo, Ohio area.
                    </p>
                    <p>
                      HB: What got you both into nursing??
                    </p>
                    <p>
                      H: I wanted to be a nurse because my aunt was a nurse. I wanted to have the same life-changing experiences that my
                      aunt had.
                      <br>Steve: I wanted to be a paramedic.
                    </p>
                    <p>
                      HB: How has the pandemic affected you as nurses on the front line?
                    </p>
                    <div class="mb-2">
                      <img src="/img/january.jpg" width="50%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                        alt="...">
                      <p>
                        S&amp;H: It has been tough and scary. A lot of people were difficult to help because they refused to acknowledge
                        they had Covid when they needed help. We were in lockdown on a reservation in South
                        Dakota. It was a very small hospital. After the lockdown was over, we began to see so many sick people. Lockdowns
                        work!
                      </p>
                      <p>
                        (Steve and Heather have a lot of stories about the pandemic and all that they saw. If you want to know more, just
                        ask them!)
                      </p>
                      <p>
                        HB: We are all curious about your work…
                        What were your favorite places you traveled to for work?
                      </p>
                      <p>
                        S&amp;H: California because you get paid well! Nurse to patient ratio is good. They make sure you are compensated
                        well. After 8
                        hours you automatically get overtime. Different places have different needs. In Tucson you see scorpion bites. In
                        California
                        you see rattlesnake bites. In Florida you see shark bites. In Ohio you see brown recluse spider bites.
                      </p>
                      <p>
                        HB: What made you decide to come to Sarasota?
                      </p>
                      <p>
                        S&amp;H: We knew we wanted to move south and be somewhere warm. We were tired of shoveling snow. <br> H: I wanted
                        somewhere below
                        Tampa.
                      </p>
                      <p>
                        HB: How long have you been here?
                      </p>
                      <p>
                        S&amp;H: 5 years.
                      </p>
                      <p>
                        HB: Why do you like Forest Lakes? Why did you buy here??
                      </p>
                      <p>
                        S&amp;H: We lived on Clark road first. We had a long break from work and we knew we wanted something quaint and
                        small. We loved the large
                        closets and lots of space. There is nowhere else that has that kind of space and big windows around here.
                        We live on the Ohio side of this complex. We seem to all be mostly from Ohio!
                      </p>
                      <p>
                        HB: And we all want to know, what are you guys cooking on the grill outside at night? It smells soooo good…
                      </p>
                      <p>
                        S&amp;H: Sometimes it’s salmon or steak or chicken. We also like vegetable kabobs.
                      </p>
                      <p>
                        Heather and Steve ended by saying “We can’t wait to meet all our neighbors. Come and introduce yourselves!”
                      </p>
                      <div>
                        <img src="/img/grill.gif" width="25%"
                          style="float: left; display: flex; justify-content: center; align-items: center; margin-right: 10px;"
                          class="rounded" alt="...">
                        <p>
                          <br><br>
                          How about tonight for dinner? 😉 ~~
                        </p>
                      </div>
                    
                    
                    </div>
                    <p style="clear: both;">
                    
                    </p>
                    <hr>
          </div>

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#decemberNewsletter" aria-expanded="false" aria-controls="decemberNewsletter">
            December Newsletter
          </button>
          <div id="decemberNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
              <h2 class="text-center font-weight-bold">December Newsletter</h2>
              
              <h3>Coupon Books</h3>
              <p>
                Coupons books will be arriving soon for the new year. These will reflect the new $300 per month maintenance fee.
              </p>
              <h3>Automatic Payments</h3>
              <p>
                Remember, if you have auto pay set up, please change the amount to $300 beginning January 1, 2022.
              </p>
              <h3>Comcast/Xfinity</h3>
              <p>
                No doubt you have also received your notice from Comcast about the cable contract ending on December 31, 2021. If you
                have
                decided to keep cable TV, remember to call the number on the letter you received before December 31. The number is
                1-844-876-4301. If you have decided to NOT pay for cable service (which will not affect your internet service), the
                directions on how to return your cable boxes and
                remotes free of charge are also in the letter. If you have not received the letter and need those instructions let me
                know.
              </p>
              <h3>Board of Directors</h3>
              <p>
                Per our annual meeting on December 4, the board of Directors for 2022 will remain the same.
              </p>
              
              
              <hr>
          </div>

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#novemberNewsletter" aria-expanded="false" aria-controls="novemberNewsletter">
            November Newsletter
          </button>
          <div id="novemberNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
            <h2 class="text-center font-weight-bold">November Newsletter</h2>
            <p>
              Long shadows and the time change. That’s where we all find ourselves. At the same time more owners will be coming down
              and we are happy to see them!
            </p>
            <h3>CONTRACT WITH COMCAST/XFINITY ENDING!</h3>
            <p>
              <b>As you may have heard, our contract with Comcast will end on December 31.</b> You will need to arrange for your own
              basic cable hookup with them at 1-800-XFINITY before then to keep your basic cable service in 2022.
              This will reduce the financial obligation of the association by $70 per month per unit, quite substantial. At the last
              board meeting, the majority voted to reduce the maintenance fee by $21 to $300 per month beginning in January as a way
              to cover rising costs
              and to give something back to owners for those who use cable instead of the more and more popular internet streaming
              services.
            </p>
            <p>
              By now everyone has received the budget for 2022 utilizing the new $300/month maintenance fee. We are happy that there
              will be more funds available for lawn care and
              repairs! We all know that our place needs work. So
              it will be nice to plan out important repairs for 2022, such as the dilapidated fascia, and to be able to pay for
              better lawn service and get
              the lawn looking lush and the bushes trimmed, among other things.
            </p>
            <p>
              Next month we will interview another owner. This month is busy with getting ready for the annual meeting and getting
              all
              the necessary condo paperwork done!
            
              Hope everyone is doing well and enjoys the cooler weather.
            
              If anyone would personally like to volunteer to be interviewed for December please feel free to text Heather at
              941-586-8224!
            </p>
          </div>

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#octoberNewsletter" aria-expanded="false" aria-controls="octoberNewsletter">
            October Newsletter
          </button>
          <div id="octoberNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
            <h2 class="text-center font-weight-bold">October Newsletter</h2>
            <h3>Fall is officially here!!</h3>
            <p>
              Although... with the 90 degree weather it certainly doesn’t feel like it.
            </p>
            <p>
              Even though we really do not see leaves changing colors, this begins our season of changing license plate colors!!!
              The
              snowbirds will soon begin to arrive here from many different states.
            </p>
            <p>
              Enjoy the empty beaches now! These are the glory days of fall for all of us locals!
            </p>
            <h3>~~Meet Your Neighbor~~</h3>
            <p>
              <b>Irene Madden</b> has lived here at Forest Lakes for almost three years.
              Perhaps you have seen her laying out at the pool regularly!
            </p>
            <p>
              H: Where were you born, Irene?
            </p>
            <p>
              Saskatchewan, Canada.<br>
              My mother was an immigrant. My parents were form Ukraine. I was the first one in my family to finish high school and
              the
              first one who went to college. I was raised in a large Ukrainian community there in Saskatchewan.
            </p>
            <p>
              H: What was your career?
            </p>
            <p>
              Starting in 1967 I would work for 3 weeks every summer at the fair in Toronto. I made a product sold nowhere else:
              rectangular
              waffles from scratch. The machine we used was made from melted down war parts. It made 12 waffles at a time. And we
              would put a square of ice cream on a hot waffle. It was famous in Toronto. People waited for it. Large families would
              come and order 16 at a time. It was a show! People loved watching me throw waffles.
              I also worked for the welfare department in Toronto. But eventually the company that did the fair asked if we wanted
              to
              come on the road with them. I said sure! My daughter Maggie would take her homework with her on the road. It was a
              choice to
              further my education or go on the road. I chose going on the road. What good memories we had!
              <br>
              That’s how I ended up in Florida: All the show people came to Sarasota!
            </p>
            <p>
              H: How did you end up at Forest Lakes?
            </p>
            <div class="mb-2">
              <img src="/img/october21.jpeg" width="50%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                alt="...">
              <p>
                I was living in LA, but I needed to be with my granddaughter. My daughter Maggie had passed away.
                <br>
                I was watching NCIS one day. I saw a receipt on the show with the town named Sarasota on it, so I looked up
                Sarasota. The condos were
                so cheap. I bought this condo off the internet in December 2018.
              </p>
              <p>
                H: What do you like about Forest Lakes?
              </p>
              <p>
                Everyday when I pick up my granddaughter or take her to school I think "it’s great to be alive. I’m in Sarasota .
                And
                I’m a citizen! I love being here. The birds are singing. There are clouds in the sky. I’m so happy to be alive and
                doing it here!"
              </p>
              <p>
                H: Do you cook Ukrainian food?
              </p>
              <p>
                Cabbage rolls are the most well-known Ukrainian food. My brother and I use WhatsApp and make the same food together
                since I have my mother’s recipes in my head. ~~
              </p>
            
            
            </div>
            <p style="clear: both;">
              Who knew we had a show woman on the property! And I think we all would love to try real homemade cabbage rolls…. And
              of
              course…. A homemade waffle!
            </p>
          </div>

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#septemberNewsletter" aria-expanded="false" aria-controls="septemberNewsletter">
            September Newsletter
          </button>
          <div id="septemberNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
                      <h2 class="text-center font-weight-bold">September Newsletter</h2>
                      <h3>Welcome to September!</h3>
                      <p>
                        September finds us waiting for cooler weather and hoping we can escape hurricane season without a scratch.
                      </p>
                      <p>
                        Please remember to check the hurricane preparedness link and stock up on necessary items like water and canned foods.
                        "An ounce of prevention is worth a pound of cure!"
                      </p>
                      <p>
                        We are pleased with the concrete repair work that was done. Matter of fact, we saw a few more places that needed fixed
                        and will pay for those to be fixed as well! So there will be some more repairs made soon. Then it will be time to
                        paint.
                        Thankfully with the help of our willing volunteers we can do that in house and save thousands!!
                      </p>
                      <h3>~~Meet Your Neighbor~~</h3>
                      <p>
                        <b>Barbara Bernard</b> has lived here at Forest Lakes for many years. She took a moment and shared a story with us and
                        answered
                        a few questions:
                      </p>
                      <p>
                        HEATHER: Barbara where are you originally from?
                      </p>
                      <p>
                        BARBARA: Buffalo, New York.
                      </p>
                      <p>
                        HEATHER: How long have you lived here?
                      </p>
                      <p>
                        BARBARA: For 35 years but we did leave for Georgia and South Carolina during that time.
                      </p>
                      <p>
                        HEATHER: How did you end up here in Sarasota?
                      </p>
                      <p>
                        BARBARA: A friend of mine was a realtor. He told me about this place. Unseen we packed up and came. It was spotless.
                        We came in
                        to a house full of furniture and brought a truck full of furniture!
                      </p>
                      <p>
                        HEATHER: What do you like about this place?
                      </p>
                      <p>
                        BARBARA: The window in the kitchen looks out to what seems like a private yard. Being in the kitchen is my favorite,
                        because
                        I like to cook.
                      </p>
                      <div class="mb-2">
                        <img src="/img/september.jpg" width="50%" style="float: left; margin-right: 8px; margin-bottom: 8px" class="rounded"
                          alt="...">
                        <p>
                          HEATHER: What does this rose bush mean to you?
                        </p>
                        <p>
                          BARBARA: This rose bush was planted by the couple that lived here before. Her name was Barbara too. Her husband put
                          it here for
                          her. When we moved in, Patrick (my husband) would have the roses for me by my coffee in the kitchen after I got up
                          in the morning. Two
                          couples have enjoyed these roses!
                        </p>
                      
                        <p>
                          Barbara has very fond memories of those roses and her beloved Patrick. She told a story about how when her and
                          Patrick
                          would be driving and she would see an animal that had been hit on the road and Patrick knew how much it hurt her to
                          see
                          that. So he would always say: “Don’t worry. It’s only rags beside the road. It’s only rags”.
                        </p>
                      </div>
                      <br style="clear: both;" />
                      <p>
                        How sweet!! He truly loved her!
                      </p>
            
          </div>

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#augustNewsletter" aria-expanded="false" aria-controls="augustNewsletter">
            August Newsletter
          </button>
          <div id="augustNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
                      <h2 class="text-center font-weight-bold">August Newsletter</h2>
                      <h3>Upcoming Events</h3>
                      <ul>
                        <li>
                          <p>
                            A board meeting is scheduled for August 13th at 7:00 pm at the pool. Information regarding this meeting will be
                            either put in
                            your door or emailed to you if you are not here full-time.
                        </li>
                      
                        </p>
                        <li>
                          <p>
                            Concrete repair will begin August 16th on 13 different spots where there is concrete/stucco damage on our
                            buildings. More information will be forthcoming with the letter accompanying your proxy form for the board
                            meeting.
                        </li>
                      
                        </p>
                      </ul>
                      <h3>Monthly Maintenance Fee Payments</h3>
                      <ul>
                        <li>
                          <p>Remember the payment is due on the 1st of the month. After the 15th the payment is considered late and will have
                            a
                            $25.00 charge. Set up a reminder for yourself. Don’t be late! Also remember that now we are self-managed.
                          </p>
                        </li>
                        <li>
                          <p>
                            If you haven't already, setting up electronic or automatic bill pay is the most convenient way to pay your
                            maintenance fee and ensure that you are on time. Use the Tampa address listed below. Also you will need the payee
                            phone number:
                            866-227-0441. Just follow the instructions in your coupon book to set it up, or ask a board member for help.
                      
                          </p>
                        </li>
                        <li>
                          <p>
                            If you want to send a check, please remember where to send your monthly payment. PLEASE DO NOT SEND IT TO AMI. (We
                            never were supposed to send our payments to the AMI
                            Lakewood Ranch address. They charged us or you a $5 to $10 collection fee for that!) Always send your payment to
                            the
                            address in the coupon book: <br>
                            Forest Lakes Country Club Estates Condo, PO Box 30061, Tampa FL 33630-3061 <br>
                            Don’t forget to write your unit number on the check.
                      
                          </p>
                        </li>
                      </ul>
                      <h3>Crocodile</h3>
                      <p>Have you noticed the crocodile in our pool? It has been serving a dual purpose! It is to scare away the birds and
                        ducks
                        from drinking the pool water and leaving behind little messes. <br>
                        So please remember to put the crocodile back in the pool before you leave the pool area. <br>
                        But that crocodile has also been such a hit with the visiting
                        kids! Thanks to Sharon for buying the crocodile! 🐊🐊</p>
          </div>

          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#julyNewsletter" aria-expanded="false" aria-controls="julyNewsletter">
            July Newsletter
          </button>
          <div id="julyNewsletter" class="collapse mt-3" data-parent="#oldNewsletterAccordion">
              <h2 class="text-center font-weight-bold">July Newsletter</h2>
              <p>Here we are! It’s July!</p>
              <p>If you didn’t notice, baby it’s hot outside! Work is still going on with sanding down and painting the stairs. The
                work
                has slowed a bit because of the heat. But we are always looking for volunteers! Even if you are busy and don’t have
                time, at least you can come out and pat the volunteers on the back. They need your support!</p>
              <p>Please keep up with the news regarding hurricanes! There is a link on this webpage that will take you directly to the
                FPL webpage about hurricane preparedness and what you need to do BEFORE a hurricane arrives. In the event of an
                approaching storm, if you need help moving things off your lanai, let us know. We can help you. Or at the very least,
                we
                can find someone with muscles who can help you!!</p>
              <p>Do you have auto pay set up for your monthly maintenance fee? Have you thought about it but don’t know what to do?
                Let
                us know! It is so simple to set up. It makes everything so much easier for you when you have auto pay. You don’t have
                to
                worry about late fees and you save yourself a stamp!</p>
              <p>Please note that the leak protocol instructions have been added to the list of "Important Numbers and Links."</p>
              <p>We are still trying to find ways to save money. As you probably have noticed, we have one man who comes now to cut
                the
                grass on Fridays. He charges less than the previous lawn crew. But still, the monthly charge is $500. It was mentioned
                that we could buy our own small riding lawnmower and in a few months be paying nothing for lawn work. We have a
                weed-eater. But the question is, would there be enough volunteers to take their turn on the riding lawnmower? Could we
                take turns by building? Think about it seriously. Think about if you would be able to occasionally volunteer. It would
                be nice to have a definite list of those who think they could do it. We will be discussing this at the next meeting.
                If
                there are not enough people who are able to volunteer, then we will stick with the new lawn guy.</p>
              <p>Meeting coming soon!</p>
              <P>The front wall is completely finished! The lights were taken off, the glass cleaned and the black sconces painted.
                The
                next day after everything was finished, a young guy was seen throwing rocks at the lights and he shattered the vintage
                glass in both lights. Can you believe that?? Any ideas on how to replace the glass? We need ‘a design on a dime’ plan.
              </P>
              <div class="text-center mb-2">
                <img src="/img/brokenGlass.jpg" width="65%" class="rounded" alt="...">
              </div>
              <div class="text-center">
                <img src="/img/grinding.jpg" width="65%" class="rounded" alt="...">
              </div>
            
          </div>
        </div>


        <hr><H2>RECYCLING</H2>
        <p>Just as a reminder: Please do not place your recycling in bags. There should be no plastic bags in the recycling bins. Thank you!</p>
        <hr>
        <h3 class="text-center">Our Board of Directors</h3>
        {{!-- Board of directors listing --}}
        <div class="border rounded-pill pt-2" id="board-wrapper">
          <div class="row mb-2">
            <div class="col-md-4">
              <p class="text-center board-p">Heather Black</p>
              <p class="text-center">President</p>
            </div>
            <div class="col-md-4">
              <p class="text-center board-p">Cathleen Schexnaydre</p>
              <p class="text-center">Secretary/Treasurer</p>
            </div>
            <div class="col-md-4">
              <p class="text-center board-p">Jim Reardon</p>
              <p class="text-center">Director</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="text-center board-p">Paul Lavy</p>
              <p class="text-center">Director</p>
            </div>
            <div class="col-md-6">
              <p class="text-center board-p">Irene Madden</p>
              <p class="text-center">Director</p>
            </div>
          </div>

        
        
        </div>

        <hr>
        <p class="text-center" id="visits"></p>
      
      </div>





      <div class="col-sm-3 order-sm-12 mb-3">
          <div class="card mb-2" id="weather">
            <div class="card-body" id="weatherContainer">
              <h5 class="card-title text-center">Current Weather</h5>
              <hr>
            </div>
          </div>
          {{!-- Radar map  --}}
          <div id='printoutPanel'></div>
          <div id='myMap' style='width: 100%; height: 300px;'></div>
          {{!-- <p class="text-center">Siesta Key Today (only visible on desktop)</p>
          <video id="mediaplaybackdiv_videoplayer" muted="" preload="none"
            style="width: 100%; background-color: rgb(0, 0, 0); display: block; object-fit: fill;"
            src="blob:https://g1.ipcamlive.com/dae874c5-2da6-4b72-91e7-a99ad56eff1b"
            poster="https://s39.ipcamlive.com/streams/27ekoxc9zanad18ep/snapshot.jpg">Your browser does not capable to play this
            content.</video> --}}
          <p class="text-center mt-3">Siesta Key This Hour</p>
          <div class="embed-container text-center mb-2"><iframe
              src="https://g0.ipcamlive.com/player/player.php?alias=5a25bba10beca&amp;autoplay=true" marginwidth="0"
              marginheight="0" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>

          <p class="text-center">Longboat Key Live</p>
          <a href="https://www.earthcam.com/usa/florida/longboatkey/?cam=longboatkey">
            <iframe class="iframe mb-3" width="100%" scrolling="no" frameborder="0" marginwidth="0"
              allowfullscreen="allowfullscreen" marginheight="0"
              style="opacity: 1; width: 100%; visibility: visible;"
              src="https://public.earthcam.net/tJ90CoLmq7TzrY396Yd88M_8UtUi8sJ7G1xSGC3lcMg!"></iframe>
          </a>
          
          {{!-- <a href="https://www.youtube.com/watch?v=ThZRNYIZU8Q" target="_blank">Downtown Live Cam</a> --}}
          <br>
          <a href="https://www.youtube.com/watch?v=NLhxcyzXQxM" target="_blank">Another Siesta Key Live Cam</a>

          <div class="card mt-2 mb-2">
            <div class="card-body" id="restaurants">
              <h5 class="card-title text-center">Nearby Restaurants</h5>
              <p class="h6 text-center">(Click name to order online)</p>
              <hr>
              <p class="h6"><a href="https://pizza.dominos.com/florida/sarasota/3692-webber-st/" target="_blank">Domino's</a> | <a href="tel:+1-941-923-3831">941-923-3831</a></p>
              <div class="dropdown">
                <button class="btn btn-sm btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  
                </button>
                <a href="https://store8204.marcos.com/ordering/home" target="_blank">Marco's</a> | <a href="tel:+1-941-365-1155">941-365-1155</a>
                <div id="marcosDeals" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Current Deals:</a>
                </div>
              </div>
              <p class="h6"><a href="https://eatrealpizza.revelup.com/weborder/?establishment=1" target="_blank">Solorzano's</a> | <a href="tel:+1-941-926-4276">941-926-4276</a></p>
              <p class="h6"><a href="http://www.francescospizzasarasota.com/" target="_blank">Francesco's</a> | <a href="tel:+1-941-929-7600">941-929-7600</a></p>
              <p class="h6">Little Saigon Bistro <a href="https://zmenu.com/little-saigon-bistro-sarasota-online-menu/" target="_blank">menu</a> | <a href="tel:+1-941-312-4730">941-312-4730</a></p>
              <p class="h6">Bushido Sushi <a href="https://bushidosushisrq.com/#menu" target="_blank">menu</a> | <a href="tel:+1-941-217-5635">941-217-5635</a></p>
              <p class="h6"><a href="https://www.grubhub.com/restaurant/mi-sitio-colombian-restaurant-3650-webber-st-sarasota/2128834?utm_source=google&utm_medium=cpc&utm_campaign=North%2BPort%2C%2BFL%2B%7C%2BSarasota%2C%2BFL%2B%7C%2BRestaurants&utm_term=%2Bmi%20%2Bsitio%20%2Bcolombian%20%2Brestaurant&utm_content=acct_id-4423755827%3Acamp_id-2038028115%3Aadgroup_id-102646390273%3Akwd-855314963739%3Acreative_id-511378394624%3Aext_id-%3Amatchtype_id-b%3Anetwork-g%3Adevice-c%3Aloc_interest-1015192%3Aloc_physical-9052808&gclsrc=aw.ds&gclid=Cj0KCQjwraqHBhDsARIsAKuGZeHnKlUhcYALE73U8hAdien21KDPi7OAd_smefLMW6T9M-0fHAuVYcUaArvsEALw_wcB" target="_blank">Mi Sitio Colombian</a> | <a
                                href="tel:+1-941-921-3604">941-921-3604</a></p>


            </div>
          </div>
          
          <div class="card">
            <div class="card-body" id="links">
              <h5 class="card-title text-center">Important Docs and Links</h5>
              <hr>
              <p class="h6"><a href="/leakprotocol" target="_blank">Leak Protocol</a></p>
              <p class="h6"><a href="/condodocs" target="_blank">Our Condo Docs</a></p>
              <p class="h6"><a href="https://www.jimersonfirm.com/blog/resources/faqs/condominium-law/" target="_blank">Florida Condo Law FAQ's</a></p>
              <p class="h6"><a href="https://www.wm.com/us/en/recycle-right" target="_blank">Waste Mgmt</a> | <a href="tel:+1-941-365-7651">941-365-7651</a></p>
              
              <p class="h6"><a href="https://www.wm.com/us/en/recycle-right/recycling-101" target="_blank">Recycling Guide</a></p>
              <p class="h6"><a href="https://www.fpl.com/storm/pdf/storm-guide.pdf" target="_blank">Hurricane Preparedness (FPL)</a></p>
              <p class="h6"><a href="https://visitbeaches.org/beach/2/report/4996" target="_blank">Siesta Key Beach Report</a></p>
              <p class="h6"><a href="https://myfwc.maps.arcgis.com/apps/View/index.html?appid=87162eec3eb846218cec711d16462a72" target="_blank">Red Tide Report</a></p>
              <p class="h6"><a href="https://www.gasbuddy.com/gaspricemap?lat=27.309794&lng=-82.496733&z=13" target="_blank">Nearby Gas Prices</a></p>
              <hr>
              <p class="h6"><a href="https://www.sarasotafarmersmarket.org/"  target="_blank">Farmers Market</a></p>
              <p class="h6"><a href="https://www.visitsarasota.com/events-festivals" target="_blank">Upcoming Events (Visit Sarasota)</a></p>
              <p class="h6"><a href="https://www.heraldtribune.com/things-to-do/events/" target="_blank">Events Calendar (Ticket Magazine)</a>
              </p>
            </div>
          </div>

    </div>

      <div class="col-sm-2 order-sm-1 mb-5">
        <div class="card" id="bogo-card">
          <div class="card-body" id="bogo-list">
            <h5 class="card-title text-center">Publix BOGO's</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">Today at Village Plaza</h6>
            <hr>
          </div>
        {{!-- Winn Here  --}}
        <p class="h6 text-center"><a href="https://www.winndixie.com/weeklyad?store_code=2501" target="_blank">Winn Dixie Flyer</a></p>
        </div>
      </div>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer/dist/bouncer.polyfills.min.js"></script>

<script src="/js/index.js"></script>

{{!-- Radar Map  --}}
            <script type='text/javascript'>
              function loadMapScenario() {
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                  /* No need to set credentials if already passed in URL */
                  center: new Microsoft.Maps.Location(27.31, -82.49),
                  zoom: 8,
                });
                var urlTemplate = 'https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/nexrad-n0q-{timestamp}/{zoom}/{x}/{y}.png';
                var timestamps = ['900913-m50m', '900913-m45m', '900913-m40m', '900913-m35m', '900913-m30m', '900913-m25m', '900913-m20m', '900913-m15m', '900913-m10m', '900913-m05m', '900913'];
                var tileSources = [];
                for (var i = 0; i < timestamps.length; i++) {
                  var tileSource = new Microsoft.Maps.TileSource({
                    uriConstructor: urlTemplate.replace('{timestamp}', timestamps[i])
                  });
                  tileSources.push(tileSource);
                }
                var animatedLayer = new Microsoft.Maps.AnimatedTileLayer({ mercator: tileSources, frameRate: 200 });
                map.layers.insert(animatedLayer);

              }
            </script>
            <script type='text/javascript'
              src='https://www.bing.com/api/maps/mapcontrol?key=ApaotqbUA4LHStDSCTIwFdSzneMdsG6jG-9yrDKUIzfJBE5TH18UJ5FoX0pKWKRc&callback=loadMapScenario'
              async defer></script>
<!-- End radar map -->

