/* FEC5BB, E8E8E4, FFD7BA, maybe FEC89A */

.list-group-item {
  line-height: 2.5;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafaf6;
  background-image: url("/img/martini.jpg");
  background-size: 12%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 0px 125px;
  /* color: rgba(40, 79, 54); */
}

#home {
  color: #304639;
}

p {
  font-size: 20px;
  line-height: 26px;
}

.resident-container {
  border: 2px inset #fec5bb;
  background-color: #fafaf6;
}
.navbar {
  background-color: #fec5bb;
  color: rgb(122, 151, 132);
}

/* for old to do list, to be updated */
.dept-list {
  margin: 0 auto;
  /* margin-top: 75px; */
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete {
  float: right;
  height: 30px;
  margin-left: 5px;
  padding-top: 3px;
}

.list-group-item {
  padding: 5, 10, 5, 10;
}
.edit {
  width: 100%;
}

/* @media screen and (max-width: 768px) {
  .card {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 490px) {
  .navbar {
    font-size: 46px;
    line-height: 48px;
  }
  body {
    font-size: 48px;
    line-height: 50px;
  }

} */
